/*General Styles*/
body{
    background-color: rgb(255, 255, 255)
}

.navbar{
    width: 100%;
}
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&display=swap');


/*Text Styles*/
#content{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    width: 100%; 
    text-align: left; 
    padding: 0%;
    
}

.header{
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 48px;
    color: aliceblue;
}

.subheader{
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    text-align: left;
    font-size: 24px;
    padding-right: 10%;
    color: aliceblue
}

.header-bi{
    position: absolute;
    text-align: left;
    width: 65%;
    padding: 10px;
    margin-left: 1%;
    top: 10%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.headline{
    font-family: 'Bodoni Moda', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;

}

.share{
    font-weight: bold;
    font-size: 20px;
}
.subhead{
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 28, 104);
    padding-top: 10px;
}

.readmore{
    font-weight: bold;
    color: black;
    text-align: left;
}

.blockquote{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
    font-style: italic;
    font-weight: bold;

}

.moretext{
    position:absolute;

}
/*Body Styles*/

.center-column{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.related{
    text-align: center;

}

.readmore{
    list-style-type: none;
    text-align: justify;
    margin-left: 20%;
}


/*Images*/

.Infographic{
margin: 10%;
margin-bottom: 10px;
}

.headerimage{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0;
}

.in-text-image{
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
    margin-left: 8%;
}

.morephoto{
    max-width: 150px;
    max-height: auto;

}


.caption{
   margin-right: 20%;
    text-align: right;
    font-size: small;
    padding-bottom: 20px;
}

.container2{
    text-align: center;
}

